In [42]:
import psycopg2

In [78]:
try:
    connection = psycopg2.connect(user = "201701144",
                                  password = "group3olympics",
                                  host = "10.100.71.21",
                                  port = "5432",
                                  database = "201701144")

    cursor = connection.cursor()
    
    #setting Schema
    cursor.execute("SET SEARCH_PATH to olympics_database")
    
    # Print PostgreSQL Connection properties
    print ( connection.get_dsn_parameters(),"\n")

    # Print PostgreSQL version
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("You are connected to - ", record,"\n")

except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)

{'user': '201701144', 'dbname': '201701144', 'host': '10.100.71.21', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 10.7 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36), 64-bit',)

# List of details of all events

In [69]:
query = ''' select * from events_in_interval('01-01-2016 01:00', '12-31-2016 23:00') '''
cursor.execute(query)
records = cursor.fetchall()
#print(records)
for row in records:
   print("Event ID ", row[0])

Event ID  898524
Event ID  898524
Event ID  898524
Event ID  898524
Event ID  898524
Event ID  898524
Event ID  177885
Event ID  177885
Event ID  177885
Event ID  177885
Event ID  177885
Event ID  177885
Event ID  973448
Event ID  973448
Event ID  973448
Event ID  973448
Event ID  973448
Event ID  973448
Event ID  302510
Event ID  302510
Event ID  302510
Event ID  302510
Event ID  302510
Event ID  302510
Event ID  1120
Event ID  1120
Event ID  1120
Event ID  1120
Event ID  590313
Event ID  590313
Event ID  590313
Event ID  590313
Event ID  575557
Event ID  575557
Event ID  575557
Event ID  784723
Event ID  784723
Event ID  784723
Event ID  766150
Event ID  766150
Event ID  766150
Event ID  766150
Event ID  766150
Event ID  619169
Event ID  619169
Event ID  619169
Event ID  619169
Event ID  619169

# List of all female Gold Medalists

In [70]:
query = '''select AthleteID, Name,  EventID from AthleteCompetesIn natural join
Athlete where Athlete.Gender = 'F' 
and RoundNumber = last_round(EventID, false) and position=1;'''
cursor.execute(query)
records = cursor.fetchall()
print(records)

[]

# for each Athlete event, find the Medalists

In [79]:
query = '''select AthleteID, EventID, Position from AthleteCompetesIn where RoundNumber = last_round(EventID, false) and position<=3;
'''
cursor.execute(query)
records = cursor.fetchall()
print(records)

[]

In [77]:
#closing database connection.
if(connection):
    cursor.close()
    connection.close()
    print("PostgreSQL connection is closed")

PostgreSQL connection is closed